<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Image_Zoom_In_Out.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B31BE3C81DFAD6660083BAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B31BE3DC1DFAD6660083BAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B31BE3E71DFAD6660083BAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
